@using MyPortfolio.Shared

<h1 class="page-header">@project.Title</h1>
<p>@project.CompletionDate.ToLongDateString()</p>
<p>@project.Requirements</p>
<MarkdownView Content="@project.Description" />

@code {
    [Parameter]
    public Project project { get; set; }

}
