@inject MyPortfolio.WASM.ProjectApiService projectApi

@using MyPortfolio.Shared

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MyPortfolio.WASM</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mission">
                <span class="oi oi-plus" aria-hidden="true"></span> Mission Statement
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="resume">
                <span class="oi oi-list-rich" aria-hidden="true"></span> My Resume
            </NavLink>
        </li>
    </ul>
    @*<br/>
    <h3 style="color: whitesmoke; text-align: center;">My Projects</h3>
    <ul class="nav flex-column">
        @foreach (var p in projects)
        {
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="resume">
                <span class="oi" aria-hidden="true">@p.Title</span> 
            </NavLink>
        </li>
    }
    </ul>*@
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //private IEnumerable<Project> projects = new List<Project>();
    //protected override async Task OnInitializedAsync()
    //{
    //    projects = await projectApi.GetProjectsAsync();
    //}
}
