@page "/blog/{slug}"
@inject MyPortfolio.WASM.ProjectApiService projectApi

@using MyPortfolio.Shared

<div>
    <DisplayProject project="@currentProject" />
    <RelevantSkills ProjectId="@currentProject.Id" ShowAll="false"/>
    <br />
    <AuthorizeView>
        <Authorized>
            <a href="edit/@Slug">Edit</a>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    

    [Parameter]
    public string Slug { get; set; }

    private Project currentProject = new Project();
    

    async Task refreshAsync()
    {
        currentProject = await projectApi.GetProjectBySlugAsync(Slug);
    }

    protected override async Task OnInitializedAsync()
    {
        if (Slug == null)
            return;

        await refreshAsync();
    }
}