@page "/edit/{slug}"
@inject MyPortfolio.WASM.ProjectApiService projectApi

@using MyPortfolio.Shared

<h3 class="page-header">Edit</h3>
<EditProject Project="@currentProject"/>
<br />
<AssignSkills ProjectId="@currentProject.Id" />
<a href="blog/@Slug">Go Back</a>

@code {
    [Parameter]
    public string Slug { get; set; }

    private Project currentProject = new Project();

    async Task refreshAsync()
    {
        currentProject = await projectApi.GetProjectBySlugAsync(Slug);
    }

    protected override async Task OnInitializedAsync()
    {
        if (Slug == null)
            return;

        await refreshAsync();
    }
}
