@page "/"

<!-- Begin Header -->
<header class="my-header">
    <table>
            <tr>
                <td class="name">
                    <h1 class="first_name">Caleb</h1>
                </td>
                <td class="contact_info">
                    <h5 class="first_name">clbmrls014@gmail.com</h5>
                </td>
            </tr>
            <tr>
                <td class="name">
                    <h1 class="last_name">Morales</h1>
                </td>
                <td class="contact_info">
                    <h5 class="linkedin contact_info" style="font-weight: 400;"><a href="https://www.linkedin.com/in/caleb-morales-415882199/">Connect with me on LinkedIn!</a></h5>
                </td>
            </tr>
        </table>

    @*<div>
        <h1 class="first_name" style="text-align: left;">Caleb</h1>
        <h5 class="first_name" style="text-align: right;">clbmrls014@gmail.com</h5>
    </div>
    <div>
        <h1 class="last_name" style="text-align: left;">Morales</h1>
        <h5 class="linkedin contact_info" style="font-weight: 400; text-align: right;"><a href="https://www.linkedin.com/in/caleb-morales-415882199/">Connect with me on LinkedIn!</a></h5>
    </div>*@

</header>
<!-- End Header -->
<!-- Begin Content -->
<article>
    <h1>My Portfolio</h1>
    <ListProjects ShowDetail="true" SkillType="None" SkillId="0" />
    <br />

</article>
<!-- End Content -->

@code {

    
}
