@page "/newproject"
@inject MyPortfolio.WASM.ProjectApiService projectApi

@using MyPortfolio.Shared

<div>
    <h3 class="page-header">New Project</h3>
    <div class="input-field">
        <input @bind-value="newTitle" placeholder="Project Title" />
    </div>
    <div class="input-field">
        <input @bind-value="newRequirements" placeholder="Project Requirements" />
    </div>
    <div class="input-field">
        <textarea @bind="newDescription" placeholder="Project Description" class="description" />
    </div>
    <div class="input-field">
        <button class="simple-btn" @onclick="addProject">Add Project</button>
    </div>
    @if (showPopUp)
    {
        <h5 style="text-align: center; font-style:italic;">@addedProject Added Successfully</h5>
    }

</div>

@code {
    private string newTitle;
    private string newRequirements;
    private string newDescription;

    private bool showPopUp = false;
    private string addedProject = "";

    private async Task addProject()
    {
        var project = new Project
        {
            Title = newTitle,
            Requirements = newRequirements,
            Description = newDescription,
            CompletionDate = DateTime.Now
        };
        await projectApi.AddProjectAsync(project);
        addedProject = newTitle;
        showPopUp = true;
        newTitle = "";
        newRequirements = "";
        newDescription = "";
    }

}
