@page "/platforms/{slug}"
@inject MyPortfolio.WASM.ProjectApiService projectApi

@using MyPortfolio.Shared

<div>
    <h2>@currentPlatform.Name</h2>
    <h4>Relevant Projects:</h4>
    <ListProjects ShowDetail="false" SkillType="Platform" SkillId="@currentPlatform.Id" />
</div>

@code {

    [Parameter]
    public string Slug { get; set; }

    private Platform currentPlatform = new Platform();

    protected override async Task OnInitializedAsync()
    {
        currentPlatform = await projectApi.GetPlatformBySlugAsync(Slug);
    }
}
