@page "/skills"
@inject MyPortfolio.WASM.ProjectApiService projectApi

@using MyPortfolio.Shared

<div>
    <h3>My Skills</h3>
    <RelevantSkills ProjectId="0" ShowAll="true" />
</div>
<!-- Begin Footer-->
<div class="page-footer">
    <p>&copy; Caleb Morales, 2020</p>
</div>
<!-- End Footer-->


@code {
    private IEnumerable<Language> languages = new List<Language>();
    private IEnumerable<Platform> platforms = new List<Platform>();
    private IEnumerable<Technology> technologies = new List<Technology>();

    protected override async Task OnInitializedAsync()
    {
        languages = await projectApi.GetLanguagesAsync();
        platforms = await projectApi.GetPlatformsAsync();
        technologies = await projectApi.GetTechnologiesAsync();
    }
}
