@page "/technologies/{slug}"
@inject MyPortfolio.WASM.ProjectApiService projectApi

@using MyPortfolio.Shared

<div>
    <h2>Technologies</h2>
    <h4>Relevant Projects:</h4>
    <ListProjects ShowDetail="false" SkillType="Technology" SkillId="@currentTech.Id" />
</div>

@code {

    [Parameter]
    public string Slug { get; set; }

    private Technology currentTech = new Technology();

    protected override async Task OnInitializedAsync()
    {
        currentTech = await projectApi.GetTechnologyBySlugAsync(Slug);
    }

}
